__pycache__

*.coverage
*.db
*.pyc

htmlcov
migrations

env
venv
.env
logs
key
handle-client-9.3.1
handle_commands
.DS_Store

### PyCharm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio

*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/
